/**
  bgboardapp.css
  designed by hinacoppy 2019 - 2025
*/

/* document outline ----------------------------------------- */
*{
  user-select:none; /* タップ、ドラッグで文字選択しないように */
}
html{
  height:100vmin;
  overflow:hidden;
  overscroll-behavior:none; /* バウンススクロールを抑止 */
}
body{
  margin:0;
  padding:0;
  max-height:100vmin;
  min-height:100vmin;
  height:100vmin;
  font-family:'Arial', 'Meiryo UI';
}

@media screen and (orientation:portrait) {
.container{ /* 縦画面の時は横向きに表示し、横画面にするよう促す */
  width:100vh;
  height:100vw;
  margin:-100vw 0 100vh;
  transform:rotate(90deg);
  transform-origin:left bottom;
}}

/* Game Display Layout settings ------------------------------------- */
/* 以下すべて相対サイズにし、レスポンシブ対応可能にしておく */
.container{
  position:relative;
}
#board{
  position:absolute;
  top:0;
  left:0;
  width:100vmax;
  height:100vmin;
}
.point{
  position:absolute;
  width:5vmax;
  height:60vmin;
  border:3px solid #abf;
  color:#29f;
  border-radius:20px;
}
.pool{
  position:absolute;
  width:11vmax;
  height:30vmin;
  border:5px solid #abf;
  border-radius:40px;
}
.goal{
  position:absolute;
  width:11vmax;
  height:50vmin;
  border:6px solid #5fa;
  border-radius:40px;
}
.oparationbtn{
  position:absolute;
  display:inline-block;
  background-color:#adf;
  border:3px solid #29f;
  color:#15f;
  border-radius:20px;
  padding:0 2vmax;
  font-size:2vmax;
  height:10vmin;
  line-height:10vmin;
  white-space:nowrap;
}
.oparationbtn:disabled {
  color:#444;
  background-color:#ccc;
  border-color:#666;
}
.panel{
  position:absolute;
  z-index:50;
  width:40vmax;
  height:50vmin;
  background-color:#dde;
  border:3px solid #fb0;
  border-radius:50px;
  text-align: center;
  font-size: 4vmax;
  color:#214;
  padding-top:10vmin;
}
.dicepool{
  position:absolute;
  border:3px solid #b0f;
  width:14vmax;
  height:13vmin;
  border-radius:20px;
}
.settings{
  position:absolute;
  display:none;
  z-index:99;
}
.relative{
  position:relative;
}
/* Board Object settings ------------------------------------- */
.dice{
  position:absolute;
  font-size:5vmax;
}
.chequer{
  display:block;
  position:absolute;
  width:5vmax;
  font-size:4vmax;
}
.turn1{
  transform:rotateZ(0deg);
}
.turn2{
  transform:rotateZ(180deg);
}
.player1col{
  color:#f55;
}
.player2col{
  color:#55f;
}
.player1base{
  background-color:#fee;
}
.player2base{
  background-color:#eef;
}
.player1chequer{
  color:#fcc;
  transform:rotateY(180deg);
}
.player2chequer{
  color:#ccf;
  transform:rotateX(180deg);
}

/* Point Flashing ------------------------------------- */
.flash{
  box-shadow: 0 0 2vmax rgba(0, 0, 0, .6);
}

/* settingwindow decorations ------------------------------------- */
.settings{
  position:absolute;
  display:none;
  z-index:99;
  background-color:#dff;
  border:3px solid #00f;
  padding:2vmin 4vmax;
  font-size:1.8vmax;
}
.popuptitle{
  font-size:2.2vmax;
  color:#fff;
  background-color:#46f;
  padding:2vmin 2vmax;
  margin-bottom:2vmin;
}

/* radio switch icon ----------------------------------------- */
input {
  display:none;
}
.radiolabel{
  display:inline-block;
  width:5vmax;
  font-size:4vmax;
  vertical-align:middle;
  opacity:0.5;
}
.player1icon{
  color:#fcc;
}
.player2icon{
  color:#ccf;
}
.switch:checked + label {
  opacity:1;
}
